.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-shadow-slip {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.input-primary {
  color: #333333;
  padding-left: 20px;
  background: #FFFFFF;
  line-height: 38px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
}
.btn-primary {
  font-size: 14px;
  display: inline-block;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 38px;
  border: 1px solid #EE2E24;
  padding: 0 30px;
  background: #EE2E24;
  color: #FFFFFF;
}
.btn-primary:hover {
  background: #FFFFFF;
  color: #EE2E24;
}
.btn-primary i {
  color: #FFFFFF;
}
.btn-primary-reverse {
  font-size: 14px;
  display: inline-block;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 38px;
  border: 1px solid #EE2E24;
  padding: 0 30px;
  background: #FFFFFF;
  color: #EE2E24;
}
.btn-primary-reverse:hover {
  background: #EE2E24;
  color: #FFFFFF;
}
.btn-primary-reverse i {
  color: #EE2E24;
}
.btn-secondary {
  font-size: 14px;
  display: inline-block;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 38px;
  border: 1px solid #EE2E24;
  padding: 0 30px;
  background: #EE2E24;
  color: #FFFFFF;
}
.btn-secondary:hover {
  background: #FFFFFF;
  color: #EE2E24;
}
.btn-secondary i {
  color: #FFFFFF;
}
.label-primary {
  font-size: 10px;
  width: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  justify-content: center;
  height: 30px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  font-weight: 700;
  background: #EE2E24;
  border: 1px solid #EE2E24;
  color: #FFFFFF;
}
.label-primary-reverse {
  font-size: 10px;
  width: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  justify-content: center;
  height: 30px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  font-weight: 700;
  background: #FFFFFF;
  border: 1px solid #EE2E24;
  color: #EE2E24;
}
.label-secondary {
  font-size: 10px;
  padding: 9px 17.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  justify-content: center;
  height: 30px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background: #F99B2A;
  border: 1px solid #F99B2A;
  color: #FFFFFF;
}
.icon-category {
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.contact-phone {
  width: 40px;
  height: 40px;
  background: #F99B2A;
  background-image: url("../images/Fixed-contact/phone.svg");
  background-position: center, center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.contact-mes {
  width: 40px;
  height: 40px;
  background: #F99B2A;
  background-image: url("../images/Fixed-contact/mes.svg");
  background-position: center, center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.facebook-icon {
  width: 35px;
  height: 35px;
  background: #F99B2A;
  background-image: url("../images/Footer/facebook.svg");
  background-position: center, center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.youtube-icon {
  width: 35px;
  height: 35px;
  background: #F99B2A;
  background-image: url("../images/Footer/youtube.svg");
  background-position: center, center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.gmail-icon {
  width: 35px;
  height: 35px;
  background: #F99B2A;
  background-image: url("../images/Footer/gmail.svg");
  background-position: center, center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #333333;
}
h3 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000000;
}
h5 {
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000000;
}
::placeholder {
  color: #000000;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
ul li {
  display: inline;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #EE2E24;
  padding-top: 41px;
  border-bottom: 9px solid #F99B2A;
}
header.sticky {
  padding-top: 0;
  transition: all 0.3s linear;
}
.header__area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EE2E24;
  padding: 8.5px 20px;
  border-bottom: 2px solid #FFFFFF;
}
.header__area .input-primary {
  width: 200px;
}
@media screen and (max-width: 376px) {
  .header__area .input-primary {
    width: 160px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header__area .input-primary {
    width: 500px;
  }
}
.header__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-input {
  position: relative;
}
.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__frame {
  position: absolute;
  right: 15.16px;
  top: 10px;
}
.header__search {
  padding-left: 10px;
  padding-right: 10px;
}
.cart {
  position: relative;
}
.num-cart {
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background: #FFFFFF;
  text-align: center;
  color: #EE2E24;
}
.content {
  height: 600px;
  padding-top: 200px;
}
.banner__area {
  padding-top: 109px;
}
.category__inner {
  padding: 20px 20px 30px 20px;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 23px 20px;
}
@media screen and (min-width: 768px) {
  .category__inner {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 23px 20px;
  }
}
.category__content {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  margin-top: 8px;
}
.category__content.active {
  color: #EE2E24;
  font-weight: 600;
}
.category__item .icon-category img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.category__item:hover .category__content {
  color: #EE2E24;
  font-weight: 600;
}
.category__item:hover .icon-category {
  background: #EE2E24;
}
.category__item:hover .icon-category svg path {
  fill: #FFFFFF;
}
.category__item.active .category__content {
  color: #EE2E24;
  font-weight: 600;
}
.category__item.active .icon-category {
  background: #EE2E24;
}
.category__item.active .icon-category svg path {
  fill: #FFFFFF;
}
.product__inner {
  text-align: center;
  padding-bottom: 40px;
}
.title__area {
  padding: 0 20px;
}
.title__inner {
  border-bottom: 0.5px solid #F99B2A;
  text-align: center;
}
.title__inner h3 {
  display: inline-block;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 3px solid #EE2E24;
}
.product-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.product-item__content {
  text-align: center;
  padding-top: 10px;
}
.product-item__content h5 {
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.owl-dots {
  display: none;
}
.product-item__price {
  color: #EE2E24;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-top: 5px;
  text-transform: uppercase;
}
.new-product__slide-1 {
  padding-top: 23px;
}
.new-product__slide-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.category-service__inner {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #F4F4F4;
}
.category-service-slide {
  text-align: center;
}
.category-service-slide .owl-stage-outer {
  padding: 30px 0 20px 20px;
}
@media screen and (min-width: 768px) {
  .category-service-slide .owl-stage-outer {
    padding: 30px;
  }
}
.news__inner {
  padding-top: 20px;
  padding-bottom: 114px;
  text-align: center;
}
footer {
  padding: 84px 20px 70px 20px;
  background: #F4F4F4;
  position: relative;
}
.form__sign-up__inner {
  position: absolute;
  top: -70px;
  left: 19px;
  right: 18px;
  padding: 20px 19px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .form__sign-up__inner {
    left: 25%;
    right: 25%;
  }
}
.form__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__login {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 20px;
}
.company-info {
  margin: 0 auto;
  text-align: center;
}
.form__login__input {
  width: 178px;
}
@media screen and (max-width: 376px) {
  .form__login__input {
    width: 140px;
  }
}
.form__login__input .input-primary {
  width: 100%;
}
.company-info__section {
  font-style: italic;
  color: #EE2E24;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
}
.company-info__description {
  font-style: italic;
  color: #EE2E24;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
.company-info-detail {
  margin-bottom: 11px;
  margin-top: 13.33px;
}
.company-info-detail__content {
  font-size: 10px;
  line-height: 18px;
  margin-bottom: 5px;
}
.footer__link {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #9A9A9C;
}
.QR-downLoad {
  width: 80px;
  padding-right: 10px;
}
.download-link__inner {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.footer__infomation {
  padding-top: 20px;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px 0;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .footer__infomation {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 0;
    text-align: left;
  }
}
.footer__list-info li {
  padding: 0 10px;
  border-right: 0.5px solid #9A9A9C;
}
.footer__list-info li:first-child {
  padding-left: 0;
}
@media screen and (max-width: 376px) {
  .footer__list-info li {
    padding: 0 7px;
  }
}
.footer__list-info a {
  font-size: 10px;
}
.footer__list-terms li {
  padding: 0 10px;
  border-left: 0.5px solid #9A9A9C;
}
.footer__list-terms li:first-child {
  padding-left: 0;
  border: none;
}
.footer__list-terms a {
  font-size: 10px;
}
.footer__made {
  font-size: 8px;
}
.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}
.contact__inner {
  margin-bottom: 20px;
}
.contact__inner__left {
  text-align: center;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.contact__inner__left__content {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #EE2E24;
}
.contact__inner__right {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px 0;
}
.fixed-user__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background: #FFFFFF;
  position: relative;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
.fixed-user__inner li:hover .fixed-user__item__title {
  color: #EE2E24;
}
@media screen and (min-width: 768px) {
  .fixed-user__inner {
    padding: 10px 100px;
  }
}
.fixed-user__flex {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 30px;
  grid-template-columns: auto auto;
}
@media screen and (min-width: 768px) {
  .fixed-user__flex {
    grid-gap: 0 80px;
  }
}
.fixed-user__item__title {
  font-size: 8px;
  font-weight: 600;
  padding-top: 5px;
}
.fixed-user__account__title {
  font-size: 9px;
  font-weight: 600;
  padding-top: 6px;
  color: #FFFFFF;
  line-height: 14px;
}
.fixed-user__account {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #EE2E24;
  border-radius: 60px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.fixed-user__account li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.fixed-user {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
